<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CTCI_Problem051_TreesAndGraphs_4_7_BuildOrder_A/src/ctci/solutions/aritra/BuildOrder.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ctci.solutions.aritra.BuildOrder"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CTCI_Problem051_TreesAndGraphs_4_7_BuildOrder_A"/>
</launchConfiguration>
