<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CTCI_Problem072_BitManipulation_5_7_PairwiseSwap_A/src/ctci/solutions/aritra/PairwiseSwap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ctci.solutions.aritra.PairwiseSwap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CTCI_Problem072_BitManipulation_5_7_PairwiseSwap_A"/>
</launchConfiguration>
