<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CTCI_Problem035_StacksAndQueues_3_2_StackMin_A/src/ctci/aritra/solutions/StackMin.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ctci.aritra.solutions.StackMin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CTCI_Problem035_StacksAndQueues_3_2_StackMin_A"/>
</launchConfiguration>
