<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CTCI_Problem156_ModerateProblems_SumSwap_C/src/ctci/solutions/aritra/SumSwap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ctci.solutions.aritra.SumSwap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CTCI_Problem156_ModerateProblems_SumSwap_C"/>
</launchConfiguration>
