<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CTCI_Problem075_RecursionAndDP_TripleStep_B/src/ctci/solutions/aritra/TripleStep.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ctci.solutions.aritra.TripleStep"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CTCI_Problem075_RecursionAndDP_TripleStep_B"/>
</launchConfiguration>
